:root {
    /* color */
    --color_blue: #66a0e2;
    --color_yellow: #f0ea58;
    --color_mint: #01f3a3;
    --color_black: #020a17;
    --color_beige: #fcf4ed;
    --color_light-grey: #bfbfbf;
    --color_grey: #626262;

    /* size */
    --body_size: 1200px;

    /* border */
    --border_basic: 3px solid #020a17;
    --border_light: 1px solid #bfbfbf;

    /* border-radius */
    --border_radius_1: 50%;
    --border_radius_2: 30px;
    --border_radius_3: 20px;
    --border_radius_4: 10px;

    /* font */
    --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_size_title_l: 35px;
    --font_size_title_m: 20px;
    --font_size_title_s: 15px;
    --font_size_cont_l: 14px;
    --font_size_cont_m: 12px;
    --font_size_cont_s: 8px;
  }

  /* 공통 */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    background-color: var(--color_beige);
  }
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }

  /* 개인 */
  .left_menu {
    border: var(--border_basic);
    border-radius: var(--border_radius_3);
    width: 150px;
    height: 350px;
    display: inline-block;
  }

  .left_menu a {
    color: var(--color_grey);
    font-family: var(--font_family_sub);
  }

  main {
    display: flex;
    flex-flow: column; /*row*/
    /* justify-content: center; */
    width: 1200px;
    height : 980px;
    border: var(--border_basic);
  }