:root {
  /* color */
  --color_blue: #66a0e2;
  --color_yellow: #f0ea58;
  --color_mint: #01f3a3;
  --color_black: #020a17;
  --color_beige: #fcf4ed;
  --color_light-grey: #bfbfbf;
  --color_grey: #626262;

  /* size */
  --body_size: 1200px;

  /* border */
  --border_basic: 3px solid #020a17;
  --border_light: 1px solid #bfbfbf;

  /* border-radius */
  --border_radius_1: 50%;
  --border_radius_2: 30px;
  --border_radius_3: 20px;
  --border_radius_4: 10px;

  /* font */
  --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_size_title_l: 35px;
  --font_size_title_m: 20px;
  --font_size_title_s: 15px;
  --font_size_cont_l: 14px;
  --font_size_cont_m: 12px;
  --font_size_cont_s: 8px;
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.display_none{
  clear: both; content: ''; display: block;
}
.clearfix::after{
  clear: both; display: block; content: '';
}

a{color: #000;}
.container{
  width: 1200px; margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: center;
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0;
  border-radius: var(--border_radius_3);

  box-sizing: border-box;
  font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 30px;
}
#header_container .header_left .btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
  /* border: 1px solid #000; */
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 60px 60px;
  background-position: -10px -5px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  /* border: 1px solid #000; */
}
#header_container .header_right{
  display: flex;
  align-items: center;
}
.mypage_container .mypage .icon_mypage{
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color_mint);
  border-radius: var(--border_radius_1);
  background-size: 60px 40px;
  background-position: -10px 0;
  background-image: url(../img/profile_img.png);
  background-repeat: no-repeat;
}

  /* 개인 */

  /* main div */
  
  .main_container{
    display: flex;
    flex-flow: row; /*row*/
    /* justify-content: center; */
    width: 1200px;
    height : 1100px;
    border: var(--border_basic);
    margin: 0 auto;
  }

  /* 왼쪽 메뉴바 */
  .left_menu {
    /* position: fixed; */
    border: var(--border_basic);
    border-radius: var(--border_radius_3);
    width: 150px;
    height: 350px;
    text-align: center;
    padding-top: 30px;
    
  }

  .left_menu div {
    padding: 10px;
  }

  .left_menu a {
    color: var(--color_grey);
    font-family: var(--font_family_sub);
    
  }
  
  .left_menu a:visited {
    font-weight: bold;
}
/* 컨텐츠 */

 /* 캘랜더 home_container */
  .calendar_container {
    border: var(--border_basic);
    width: 650px;
    height: 500px;
    margin-right: 30px;
  }

  /* to do list */
  .to_do_list_container {
    left: 200px; 
    border: 1px solid black; 
    border-radius: var(--border_radius_3);
    width: 210px;
    height: 300px;
    box-shadow: 2px 2px;
    overflow: scroll; width: 70; height: 250px;
  }
  .to_do_list_title{
    padding-bottom: 20px
  }

  .plus { 
    color: var(--color_grey);
    font-size: 1px;
  }

  .to_do_list_box1 input{
    padding: 30px;
  }

  .add_todo {
    color: var(--color_grey);
    font-size: 17px;
  }

  /* 자유게시판 */
  .free_board {
    left: 200px;
    background-color: var(--color_yellow);
    border: 1px solid black;
    border-radius: var(--border_radius_3);
    box-shadow: 2px 2px;
    
  }
  .boardContainer .circle_new {
    width: 40px;
    height: 20px;
    background-color: var(--color_mint);
    border-radius: var(--border_radius_3);
    border: var(--border_basic);
  }
    

  /* 오늘의 인증 */
  .today_feed {
    top: 544px;
    left: 785px;
  }

  /* 오른쪽 부분*/


  .right-container {
    left: 280px;
    padding-right: 30px;
  }
  
  .circle_now {
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_1);
    border: var(--border_basic);
    background-color: var(--color_blue);
    font-size: small;
  }

  .now {
    padding: 5px;  
  }
  .circle_star{
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_1);
    border: var(--border_basic);
    background-color: var(--color_mint);
  }
  .circle_star img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .circle_my_study{
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_1);
    border: var(--border_basic);
    background-color: var(--color_yellow);
  }

  .my {
    padding: 5px;  
  }

  /* 접속 인원 */

  .accessor {
    border: 1px solid black; 
    border-radius: var(--border_radius_4); 
    width: 200px;
    height: 300px;
  }
  


  




