:root {
  /* color */
  --color_blue: #66a0e2;
  --color_yellow: #f0ea58;
  --color_mint: #01f3a3;
  --color_black: #020a17;
  --color_beige: #fcf4ed;
  --color_light-grey: #bfbfbf;
  --color_grey: #626262;

  /* size */
  --body_size: 1200px;

  /* border */
  --border_basic: 3px solid #020a17;
  --border_light: 1px solid #bfbfbf;

  /* border-radius */
  --border_radius_1: 50%;
  --border_radius_2: 30px;
  --border_radius_3: 20px;
  --border_radius_4: 10px;

  /* font */
  --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_size_title_l: 35px;
  --font_size_title_m: 20px;
  --font_size_title_s: 15px;
  --font_size_cont_l: 14px;
  --font_size_cont_m: 12px;
  --font_size_cont_s: 8px;
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.display_none{
  clear: both; content: ''; display: block;
}
.clearfix::after{
  clear: both; display: block; content: '';
}

a{color: #000;}
.container{
  width: 1200px; margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: center;
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0;
  border-radius: var(--border_radius_3);

  box-sizing: border-box;
  font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 30px;
}
#header_container .header_left .btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
  /* border: 1px solid #000; */
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 58px 58px;
  background-position: -10px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  /* border: 1px solid #000; */
}
#header_container .header_right{
  display: flex;
  align-items: center;
}
.mypage_container .mypage .icon_mypage{
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color_mint);
  border-radius: var(--border_radius_1);
  background-size: 60px 40px;
  background-position: -10px 0;
  background-image: url(../img/profile_img.png);
  background-repeat: no-repeat;
}

  /* 개인 */
  h3,h4,h5 {
    display: inline-block;
  }

  /* main div */
  
  .main_container{
    display: flex;
    flex-flow: row; /*row*/
    /* justify-content: center; */
    width: 1200px;
    height : 1100px;
    border: var(--border_basic);
    margin: 0 auto;
  }

  /* 왼쪽 메뉴바 */
  .left_menu {
    /* position: fixed; */
    border: var(--border_basic);
    border-radius: var(--border_radius_3);
    width: 200px;
    height: 350px;
    text-align: center;
    padding-top: 30px;
    
  }

  .left_menu div {
    padding: 10px;
  }

  .left_menu a {
    color: var(--color_grey);
    font-family: var(--font_family_sub);
    
  }
  
  .left_menu a:visited {
    font-weight: bold;
}
/* 컨텐츠 */
.home_container {
  float: left;
  width: 720px;
  margin-left: 30px;
  margin-right: 30px;
}

 /* 캘랜더  */
  .calendar_container {
    border: var(--border_basic);
    width: 700px;
    height: 500px;
    margin-right: 30px;
    overflow: hidden;
  }
  .middle_container {
    margin-top: 30px;
  }

  /* to do list */
  .to_do_list_container {
    float: left;
    border: 1px solid black; 
    border-radius: var(--border_radius_4);
    width: 300px;
    height: 500px;
    box-shadow: 2px 2px;
    overflow: scroll; width: 70; height: 300px;
    
  }
  .to_do_list_title{
    padding-bottom: 20px
  }

  .plus1 { 
    color: var(--color_grey);
    font-size: 1px;
    padding-left: 130px;
  }

  .to_do_list_box1 input{
    padding: 30px;
  }

  .add_todo {
    color: var(--color_grey);
    font-size: 17px;
  }

  progress {
    width: 100%;
    height: 30px;
  }

  .success_percent {
    font-size: small;
    color: var(--color_blue);
  }

  /* 자유게시판 */
  .free_board {
    float: left;
    margin-top: 20px;
    width: 300px;
    height: 180px;
    background-color: var(--color_yellow);
    border: 1px solid black;
    border-radius: var(--border_radius_3);
    box-shadow: 2px 2px;
  }
  .board_title {
    padding-top: 10px;
    padding-left: 15px;
  }

  .plus2 {
    color: var(--color_grey);
    font-size: 1px;
    padding-left: 100px;
  }

  .boardContainer {
    padding-left: 15px;
    padding-top: 19px;
  }

  .boardContainer div {
    padding-bottom: 5px;
  }

  .circle_new {
    display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    background-color: var(--color_mint);
    border-radius: var(--border_radius_3);
    border: none;
  }
    

  /* 오늘의 인증 */
  .today_feed {
    overflow: scroll; width: 70; height: 300px;
    float: right;
    border-radius: var(--border_radius_4);
    border: var(--border_basic);
    height: 500px;
    width: 400px;
    box-shadow: 2px 2px;
    
  }
  .feed_title {
    padding-left: 290px;
    background-color: var(--color_mint);
    font-weight: bold;
  }

  .feed_container1 {
    margin-top: 20px;
    
  }
  .feed_img {
    background-image: url(../img/profile_img.png);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--border_radius_1);
    background-size: 60px 40px;
    background-position: -10px 0;
    background-repeat: no-repeat;
    float: left;

  }
  .feed_img2 {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--border_radius_1);
    background-color: var(--color_grey);
    float: left;
  }

  .feed_date {
    float: right;
    font-size: 12px;
    color: var(--color_grey);
  }

  .feed_contents_img{
    background-image: url(../img/certify_img.jpeg);
    background-size: cover;
    min-height: 200px;
    background-position: center;
    margin-top: 25px;

  }

  .feed_like_img {
    background-image: url(../img/like_off.png);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--border_radius_1);
    background-size: 60px 38px;
    background-position: -10px 0;
    background-repeat: no-repeat;
 
    
  }
  .feed_container3{
    padding-top: 30px;
  }

  .feed_container4 div{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 320px;
  }

  /* 오른쪽 부분*/


  .right-container {
   float: left;
   width: 200px;
  }
  
  .circle_now {
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_1);
    border: var(--border_basic);
    background-color: var(--color_blue);
    font-size: small;
  }

  .now {
    padding: 5px;  
    line-height: 3;
  }
  .circle_star{
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_1);
    border: var(--border_basic);
    background-color: var(--color_mint);
  }
  .circle_star img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .circle_my_study{
    width: 170px;
    height: 40px;
    border-radius: var(--border_radius_2);
    border: var(--border_basic);
    background-color: var(--color_yellow);
  }

  .my_study_container{
    position: relative;
    
  }

  .box1 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--color_yellow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .box2 {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--color_yellow);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  .box3 {
    position: absolute;
  }

  .my {
    display: inline-block;
    z-index: 3;
    position: absolute;
    right: 155px;
    top: 1px;
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius_2);
    border: var(--border_basic);
    background-color: var(--color_yellow);
    vertical-align: middle;
    
  }
  .my_list_title {
    position: absolute;
  }

  #dropdown_btn {
    background-color: transparent;
    border: none;
  }

  p {
    display: flex;
    align-items: center;
  }
  #dropdown_list {
    font-size: 12px;
    border: 1px solid black;
    border-radius: var(--border_radius_3);
  }
  #dropdown_list img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }

  

  /* 접속 인원 */

  .accessor {
    border: 1px solid black; 
    border-radius: var(--border_radius_4); 
    width: 170px;
    height: 300px;
  }
  .study_title{
    padding-top: 30px;
  }
  .circle_accessor {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: var(--border_radius_1);
    position: relative;
    display: inline-block;   
  }
  .accessor_on {
    width: 8px;
    height: 8px;
    position: absolute;
    right: -1px;
    bottom: 4px;
    background-color: var(--color_mint);
    border: 1px solid black;
    border-radius: var(--border_radius_1);   
  }

  .your {
    color: var(--color_grey);
    font-size: 1px;
    vertical-align: 10px;  
  }
  .study_name {
    display: inline-block;
    vertical-align: 10px;   
  }
  


 


