
:root {
    /* color */
    --color_blue: #66a0e2;
    --color_yellow: #f0ea58;
    --color_mint: #01f3a3;
    --color_black: #020a17;
    --color_beige: #fcf4ed;
    --color_light-grey: #bfbfbf;
    --color_grey: #626262;

    /* size */
    --body_size: 1200px;

    /* border */
    --border_basic: 3px solid #020a17;
    --border_light: 1px solid #bfbfbf;

    /* border-radius */
    --border_radius_1: 50%;
    --border_radius_2: 30px;
    --border_radius_3: 20px;
    --border_radius_4: 10px;

    /* font */
    --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_size_title_l: 35px;
    --font_size_title_m: 20px;
    --font_size_title_s: 15px;
    --font_size_cont_l: 14px;
    --font_size_cont_m: 12px;
    --font_size_cont_s: 8px;
  }

  /* 공통 */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    background-color: var(--color_beige);
  }
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  .display_none{
    clear: both; content: ''; display: block;
  }
  .clearfix::after{
    clear: both; display: block; content: '';
  }

  /* header */
  header {
    display: flex;
    justify-content: center;
  }
  header #header_container {
    display: flex;
    justify-content: space-between;
    width: var(--body_size);
    padding: 10px 0;
    border-radius: var(--border_radius_3);

    box-sizing: border-box;
    font-weight: 800;
  }
  #header_container .header_left{
    display: flex;
    gap: 30px;
  }
  #header_container .header_left .btn_home {
    display: flex;
    width: 66px;
    height: 50px;
    font-size: 14px;
    font-weight: 800;
    line-height: 80px;
    overflow: hidden;
    /* border: 1px solid #000; */
  }
  .btn_home .icon_home {
    width: 40px;
    height: 51px;
    background-size: 60px 60px;
    background-position: -10px -5px;
    background-image: url(../img/rlab_logo.png);
    background-repeat: no-repeat;
  }
  .top_menu_container{
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    /* border: 1px solid #000; */
  }
  #header_container .header_right{
    display: flex;
    align-items: center;
  }
  .mypage_container .mypage .icon_mypage{
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color_mint);
    border-radius: var(--border_radius_1);
    background-size: 60px 40px;
    background-position: -10px 0;
    background-image: url(../img/profile_img.png);
    background-repeat: no-repeat;
  }

  /*메인*/
  main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1200px;
    margin-left: auto; margin-right: auto;
  }
 
  /* 검색창 */
  .search_container{
    height: 150px;  padding: 30px 5px 10px 100px ; position: relative;
  }

  .search{
    width: 950px; line-height: 50px; margin-bottom: 8px; border-radius: var(--border_radius_2);
    float: right; border: 2px solid var(--color_black); 
  }
  .tag_box{ 
    position: absolute; top:80%; left: 20%; display: grid; grid-template-columns: repeat(6,1fr);
    column-gap: 5px; text-align: center;
  }
  .hashTag{
    border: 2px solid black; border-radius: var(--border_radius_2); text-decoration: none;
    color: var(--color_black); font-size: var(--font_size_cont_m); padding: 5px; 
  }

  /* 모집 부분 */
  .result_container{
    height: 100%; float: left; 
  }
  /* 모집 부분 - menu-nav */
  .menu_nav{
    float: left; 
    border: 2px solid var(--color_black); width: 180px; height: 600px;
    padding: 20px 5px 10px 20px;
  }
  .menu_nav::after{}
  /* 스위치 버튼 */
  .recruit_state { position: relative; float: right;}
  .recruit_state_title{ font-size:var(--font_size_title_s); color: var(--color_black);}
  #recruit_switch {
    position: absolute;
    /* hidden */
    appearance: none;   -webkit-appearance: none;  -moz-appearance: none;
  }
  .switch_label {
    position: relative; cursor: pointer; width: 58px; height: 20px;
    border: 2px solid var(--color_black); border-radius: 20px;
    float: right; margin-left: 5px;
  }
  .switch_btn {
    top: 5px;  left: 5px; display: inline-block;
    width: 25px;  height: 15px;  border-radius: 20px;  background: var(--color_blue);
  }
  
  /* 왼쪽 태그 박스 */
  .recruit_tag_box{
    margin-top: 50px; display: grid; grid-template-rows: 1fr 2fr;
  }
  #tag_title{
    font-size: var(--font_size_title_m); font-weight: bold;
  }
  .selectd_tag { margin-top: 5px; display: grid; grid-template-columns: repeat(3,1fr); column-gap: 3px; 
    grid-template-rows: repeat(2,1fr);
  }
  .sel_hashTag{
    background : var(--color_mint); border-radius: var(--border_radius_2); text-decoration: none; text-align: center;
    color: var(--color_black); font-size: var(--font_size_cont_m);  color: var(--color_black); font-weight: bold; 
  }


  /* 왼쪽 회색 줄  */
  .line{
    width: 170px ; height: 3px; background-color: var(--color_light-grey); margin-top: 30px;
  }
  /* 왼쪽 지역 */
  .sel_region{display: flex; flex-flow: column;} 
  .region_title{
    font-size: var(--font_size_title_m);  font-weight: bold;
    margin-top: 20px; margin-bottom: 15px;
  }
  .sel_region a{
    text-decoration: none; color: var(--color_light-grey); font-size: var(--font_size_cont_l);
  }
  .sel_region .selected{ font-weight: bold; color: var(--color_black);  }


  /* 모집 부분 - study-card-container */
  .study_card_container{
    width: 960px; height: 1000px;  float: right;
  }
  .row_study_card{margin-bottom: 20px;}
  .study_card_box{
    width: 296px; height: 300px; border: 2px solid var(--color_black); float: left; 
    box-shadow: 5px 5px 0px 0px rgb(7, 7, 7); border-radius: var(--border_radius_4);
  }
  .study_card_box+.study_card_box{
    margin-left: 30px;
  }
  .study_img_box {
    width: 296px; height: 140px; ; background-size: cover; 
    background-image: url('../img/recruit_thumb.png');border-top-right-radius: var(--border_radius_4);
    border-top-left-radius: var(--border_radius_4);
  }
  
  .study_card_container .study_info{
    width: 276px; height: 140px;  padding: 10px; display: grid;
    grid-template-row: repeat(3,1fr); background-color: white;
    border-bottom-right-radius: var(--border_radius_3) ;border-bottom-left-radius :var(--border_radius_3) ;
    
  }
  .study_card_container .study_tag_info{
    display: grid;  grid-template-columns: repeat(4,1fr);  grid-template-rows: repeat(2,1fr);
    row-gap: 3px; column-gap: 3px; 
  }
  .study_card_container .study_tag{
    border-radius: var(--border_radius_2); text-decoration: none; background-color: var(--color_blue);
    color: var(--color_black); font-size: var(--font_size_cont_l); text-align :center;
    vertical-align: middle;
  }
  .study_card_container .study_tag_info :nth-child(2n){
    background-color: var(--color_mint);
  }
  .study_card_container .study_recruit_content{
    padding-top: 15px; font-size: var(--font_size_title_m); color: var(--color_black);
  }
  .study_card_container .study_content{
    display: grid; grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1; 
  }
  .study_card_container .study_content .study_recruiting{
   grid-column: 1/3; border: 2px solid var(--color_black); background-color: var(--color_yellow);
   text-align: center; border-radius: var(--border_radius_4); color: var(--color_black);
    vertical-align: middle; text-align: center; padding-top: 5%;
  }
  .study_card_container .study_content .like_img{
    grid-column: 5/6; background-image: url('../img/like_on_red.png');
    grid-row: 1/2; background-size: contain; background-repeat: no-repeat;
  }

  /* 넘기기 버튼 */
  .study_card_container .page_box{
    margin-top: 20px; display: flex; justify-content: center;
  }
  .study_card_container .page_box>*{float: left; }
  .study_card_container .page_num+.page_num{margin-left: 20px;}
  .study_card_container .page_box .selected{
    color: var(--color_black);
  }
  .study_card_container .page_box span{
    line-height: 30px; font-size: 25px; color: var(--color_light-grey)
  }

  .study_card_container .page_box .btn_prev{
    display: inline-block; width: 35px; height: 35px; margin-right: 10px;
    background-position: -10px -10px; 
    background-image: url(../img/page_left.png);  background-size:50px 50px;
  }
  .study_card_container .page_box .btn_next{
    width: 30px; height: 30px; margin-left: 10px;
    background-position: -10px -10px; display: inline-block;
    background-image: url(../img/page_right.png); background-size:50px 50px;
  }
