:root {
	/* color */
	--color_blue: #66a0e2;
	--color_yellow: #f0ea58;
	--color_mint: #01f3a3;
	--color_black: #020a17;
	--color_beige: #fcf4ed;
	--color_light-grey: #bfbfbf;
	--color_grey: #626262;

	/* size */
	--body_size: 1200px;

	/* border */
	--border_basic: 3px solid #020a17;
	--border_light: 2px solid #bfbfbf;

	/* border-radius */
	--border_radius_1: 50%;
	--border_radius_2: 30px;
	--border_radius_3: 20px;
	--border_radius_4: 10px;

	/* font */
	--font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
		"맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
	--font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
		"맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
	--font_size_title_l: 35px;
	--font_size_title_m: 20px;
	--font_size_title_s: 15px;
	--font_size_cont_l: 14px;
	--font_size_cont_m: 12px;
	--font_size_cont_s: 8px;
}

/* 공통 */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
	background-color: var(--color_beige);
	height: 1547px;
  position: relative;
}	
#total_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.blind {
	position: absolute;
	width: 2px;
	height: 2px;
	margin: -2px;
	overflow: hidden;
}
.display_none{
	display: none;
}
.clearfix::after{
	clear: both; display: block; content: '';
}
a {
	color: #000;
}
.btn_home {
	display: flex;
	width: 66px;
	height: 50px;
	font-size: 14px;
	font-weight: 800;
	line-height: 80px;
	overflow: hidden;
}
.btn_home .icon_home {
	width: 40px;
	height: 51px;
	background-size: 58px 58px;
	background-position: -10px -4px;
	background-image: url(../img/rlab_logo.png);
	background-repeat: no-repeat;
}
.add_shadow {box-shadow: 5px 5px 0px rgb(7, 7, 7);}

/* header */
header {
	/* 2023-02-21 width 100% 속성 추가*/ 
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	background-color: var(--color_beige);
	z-index: 100;
}
header #header_container {
	display: flex;
	justify-content: space-between;
	width: var(--body_size);
	padding: 10px 0 10px 10px;
	border-radius: var(--border_radius_3);

	box-sizing: border-box;
	font-weight: 800;
}
#header_container .header_left{
	display: flex;
	gap: 80px;
}
.btn_home {
	display: flex;
	width: 66px;
	height: 50px;
	font-size: 14px;
	font-weight: 800;
	line-height: 80px;
	overflow: hidden;
}
.btn_home .icon_home {
	width: 40px;
	height: 51px;
	background-size: 58px 58px;
	background-position: -9px -4px;
	background-image: url(../img/rlab_logo.png);
	background-repeat: no-repeat;
}
.top_menu_container{
	width: 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
}
#header_container .header_right{
	display: flex;
	align-items: center;
}
.mypage_container .mypage .icon_mypage{
	display: flex;
	width: 40px;
	height: 40px;
	border: 2px solid var(--color_mint);
	border-radius: 50%;
	background-size: 61px 40px;
	background-position: -9px 0;
	background-image: url(../img/profile_img.png);
	background-repeat: no-repeat;
}
.list_item:hover{
	color: var(--color_mint);
}
/* main 에 margin-top 속성 추가하세요!!*/
main{
		width: var(--body_size);
		margin: 0;
		margin-top: 150px;
}