/* 나의 게시글, 나의 스크랩에서만 헤더가 이상함*/
.top_menu_container{
  line-height: 50px;
}

.list_item{
  height:60px;
}

#my_container{padding-top: 32px;}
.study_card_container{
  padding-left: 30px;
}
.select_box_area{
  height: 29.5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.select_view option{
  width: 200px;
  border-radius: 5px;
}

table { border-collapse: collapse; }
.board_title_list{
  box-sizing: border-box;
  background-color: var(--color_yellow);
}
.board_list {
  border-bottom: 1px solid var(--color_yellow);
  height: 50px;
}
.board_list:hover{
  background-color: #f0eb583b;
  cursor: pointer;
}
.board_list a{
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.post_title{
  font-weight:bold;
  font-size: 15px;
  color:rgb(67, 66, 66)
}
[class^=table_area]{
  height: 684px;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}
.fa-solid{margin-left: 5px; margin-right: -10px;}
/* .table_area_3, .table_area_2{display: none;} */
.border_box{
  width: 100%;
}
.board_title_list{
  font-size: 20px;
  font-weight: bold;
}
.border_box .title_list_item{
  height: 50px;
  font-size: 17px;
}
.border_box [class^=board_list_]{
  height: 61px;
  border-bottom: 1px solid black;
}
.background_bbls{
  height: 1253px;
}
.icon_scrab_box{
  height: 50px;
  padding: auto;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.icon_scrab{
  width: 32px;   
  height: 50px;
  background-size: 30px 50px;
  background-image: url(../img/favorite_tag.png);
  
}
.bd_list_item{padding-left: 5px;}