#my_container{padding-top: 32px;}
.study_card_container{
  padding-left: 30px;
}
.select_box_area{
  height: 29.5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.select_view option{
  width: 200px;
  border-radius: 5px;
}
table { border-collapse: collapse; }
.board_title_list{
  border-top: 2px solid rgba(33, 33, 33, 0.393);
  border-bottom: 2px solid rgba(33, 33, 33, 0.393);
}
.board_list {
  border-bottom: 1px solid rgba(97, 97, 97, 0.634);
}
.board_list_1,
.board_list_3,
.board_list_5,
.board_list_7,
.board_list_9,
.board_list_11{
  background-color: rgba(128, 128, 128, 0.072);
}
.post_title{
  font-weight:bold;
  font-size: 17px;
  color:rgb(67, 66, 66)
}
[class^=table_area]{
  height: 684px;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}
.table_area_1, .table_area_2, .table_area_3{ display: none;}
.border_box{
  width: 100%;
}
.board_title_list{
  font-size: 20px;
  font-weight: bold;
}
.border_box .title_list_item{
  height: 80px;
}
.border_box [class^=board_list_]{
  height: 52px;
  border-bottom: 1px solid black;
}
/* 
.border_box .board_nu{

}
.border_box .study_name{

}
.border_box .title{

}
.border_box .writer{

}
.border_box .date{

} */