/* 모집 부분 - study-card-container */
.study_card_container{
  display: flex;
  justify-content: center;
}

.op {
  position: relative;
}


.row_study_card{margin-bottom: 20px;}
.study_card_box{
  width: 250px; 
  height: 329px; 
  border: 2px solid var(--color_black); 
  float: right; 
  overflow: hidden;
  box-shadow: 5px 5px 0px rgb(7, 7, 7);
  border-radius: var(--border_radius_4);
}
.study_card_box{
  margin-left: 15px;
}
.study_img_box {
  width: 296px; 
  height: 151px; 
  background-size: cover; 
  background-image: url('../img/recruit_thumb.png');
  border-top-right-radius: var(--border_radius_4);
  border-top-left-radius: var(--border_radius_4);
  
}

.study_card_container .study_info{
  width: 270px; 
  height: 152px;  
  padding: 13px;
  background-color: white;
  border-bottom-right-radius: var(--border_radius_4) ;
  border-bottom-left-radius :var(--border_radius_4) ;
}

.study_info2 {
  padding-top: 110px;
}

.study_tag_info{
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 9px;
  overflow: hidden;
  box-sizing: border-box;
}
.study_card_container .study_tag{
  border-radius: var(--border_radius_2); 
  text-decoration: none; 
  background-color: var(--color_blue);
  color: var(--color_black); 
  text-align :center;
  font-size: 13px;
  padding: 5px 10px;
}
.study_card_container .study_tag_info :nth-child(2n){
  background-color: var(--color_mint);
}
.study_card_container .study_recruit_content_box{
  height: 40px;
  margin-bottom: 10px;
  display: flex; align-items: center;
}
.study_card_container .study_recruit_content{
  font-size: 18px; 
  color: var(--color_black);

}
.study_card_container .study_content{
  display: flex; justify-content: space-between;

}
.study_card_container .study_content .study_recruiting{
border: 2px solid var(--color_black); background-color: var(--color_yellow);
text-align: center; border-radius: var(--border_radius_4); color: var(--color_black);
font-size:14px; width: 100px; height: 30px; line-height: 28px;
}

.study_card_container .study_content .like_img{
  width: 30px; height: 30px;
  background-image: url(../img/like_on_red\ copy.png);
  background-size: cover;

}

.study_card_box {
  position: relative;
}

.button-container {
  display: none;
  position: absolute;
  top: 280px;
  left: 55px;
  justify-content: center;
  align-items: center;
}

.edit-button, .delete-button {
  margin: 0;
  display: inline-block;
}

.study_card_box:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.study_card_box:hover .study_info {
  opacity: 0.3;
}

.study_card_box:hover .study_img_box {
  opacity: 0.3;
}

.study_card_box:hover .button-container {
  display: flex;
  justify-content: center;
}

.edit-button{
  display: inline-block; 
  margin-right: 10px; 
  padding: 10px 26px;
  text-align: center;
  border: none;
  cursor: pointer;
  opacity: 1;
  border: 1px solid black;
  border-color: #4285f4;
  box-sizing: border-box; 
  font-weight: bold;
  font-size: 14px;
}

.delete-button {
  display: inline-block; 
  margin-left: auto;
  padding: 10px 26px;
  text-align: center;
  border: none;
  cursor: pointer;
  opacity: 1;
  border: 1px solid black;
  border-color: #db4437;
  box-sizing: border-box; 
  font-weight: bold;
  font-size: 14px;
}

.edit-button {
  background-color: #fff;
  color: #4285f4;
}

.delete-button {
  background-color: #fff;
  color: #db4437;
}

.edit-button:hover {
  background-color: #2962ff;
  color: #fff;
}

.delete-button:hover {
  background-color: #ff453a;
  color: #fff;
}