
:root {
    /* color */
    --color_blue: #66a0e2;
    --color_yellow: #f0ea58;
    --color_mint: #01f3a3;
    --color_black: #020a17;
    --color_beige: #fcf4ed;
    --color_light-grey: #bfbfbf;
    --color_grey: #626262;

    /* size */
    --body_size: 1200px;

    /* border */
    --border_basic: 3px solid #020a17;
    --border_light: 1px solid #bfbfbf;

    /* border-radius */
    --border_radius_1: 50%;
    --border_radius_2: 30px;
    --border_radius_3: 20px;
    --border_radius_4: 10px;

    /* font */
    --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_size_title_l: 35px;
    --font_size_title_m: 20px;
    --font_size_title_s: 15px;
    --font_size_cont_l: 14px;
    --font_size_cont_m: 12px;
    --font_size_cont_s: 8px;
   
  }

  /* 공통 */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    background-color: var(--color_beige);
    height: 1430px;
    position: relative;
  }
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  .display_none{
    clear: both; content: ''; display: block;
  }
  .clearfix::after{
    clear: both; display: block; content: '';
  }
  a{color:#000}

/*total_container*/
	#total_container {
		    width: 100%;
		    height: 100%;
		    display: flex;
		    flex-flow: column;
		    align-items: center;
  }
/* header*/
    header {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        margin-bottom: 250px;
        background-color: var(--color_beige);
        z-index: 100;
    }
    header #header_container {
      display: flex;
      justify-content: space-between;
      width: var(--body_size);
      padding: 10px 0 10px 10px;
      border-radius: var(--border_radius_3);

      box-sizing: border-box;
      font-weight: 800;
    }
    #header_container .header_left{
      display: flex;
      gap: 80px;
    }
    .btn_home {
      display: flex;
      width: 66px;
      height: 50px;
      font-size: 14px;
      font-weight: 800;
      line-height: 80px;
      overflow: hidden;
    }
    .btn_home .icon_home {
      width: 40px;
      height: 51px;
      background-size: 58px 58px;
      background-position: -9px -4px;
      background-image: url(../img/rlab_logo.png);
      background-repeat: no-repeat;
    }
    .top_menu_container{
      width: 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
    }
    #header_container .header_right{
      display: flex;
      align-items: center;
    }
    .mypage_container .mypage .icon_mypage{
      display: flex;
      width: 40px;
      height: 40px;
      border: 2px solid var(--color_mint);
      border-radius: 50%;
      background-size: 61px 40px;
      background-position: -9px 0;
      background-image: url(../img/profile_img.png);
      background-repeat: no-repeat;
    }


  /*메인*/
  main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1200px;
    margin-left: auto; margin-right: auto;
    margin-top: 70px;
    width: var(--body_size);
    margin: 0;
    margin-top: 70px;
  }
 
  /* 검색창 */
  .search_container{
    height: 180px;  
    padding: 30px 5px 10px 10px ; 
    position: relative;
    margin-bottom: 30px;
  }

  .search_container .search_content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 925px; height: 50px; 
    margin-bottom: 13px; 
    border-radius: var(--border_radius_2); 
    float: right; 
    border: 2px solid var(--color_black); 
    padding: 20px; 
    box-sizing: border-box; 
    box-shadow: 5px 5px 0px rgb(7, 7, 7);
  }
  .search_container .icon_search{
    width: 20px; height: 20px;
    cursor: pointer;
  }
  .search_container .search_title , .search_tag{
    width: 90%; 
    line-height: 50px; 
    border: none; 
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 25px;
  }

  .search_container .tag_box{ 
    position: absolute; 
    top: 73%; 
    left: 23%; 
    display: flex; 
    flex-wrap: wrap;
    column-gap: 10px; 
    align-items: center;
  }

  
  .search_container .hashTag{
    border: 2px solid black; 
    border-radius: var(--border_radius_2); 
    text-decoration: none;
    color: var(--color_black); 
    font-size: var(--font_size_cont_m); 
    padding: 5px 10px;

  }

  /* 모집 부분 */
  .result_container{
    height: 100%;
    display: flex;
  }
  .flex_box{
    display: flex;
    flex-direction: column;
  }
  /* 모집 부분 - menu-nav */
    .result_container .menu_nav{
    float: left; 
    border: 2px solid var(--color_black); 
    width: 180px; min-height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color_beige);
  }
  .result_container .menu_nav::after{}
  
  /* 스위치 버튼 */

  .recruit_state{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .result_container .recruit_state_title{ 
    font-size:18px; 
    color: var(--color_black);
    line-height: 1.7em;
  }
  .result_container #recruit_switch {
    position: absolute;
    appearance: none;   -webkit-appearance: none;  -moz-appearance: none;
  }
  .switch_label {
    height: 15px;
    width: 60px;
    cursor: pointer; 
    /* border: 3px solid var(--color_black);  */
    border: 2px solid rgba(69, 67, 67, 0.771);
    background-color: rgba(180, 177, 177, 0.321);
    border-radius: 20px; 
    margin-left: 5px; 
    padding: 5px;
  }
  .switch_check{
    font-size: 14px;
    color: rgb(78, 77, 77);
  }
  .switch_check .btn_on{
    margin-right: 12px;
  }
  .switch_btn { 
    position: relative;
    width: 35px;  
    height: 25.5px;  
    border-radius: 12px;  
    background: var(--color_blue);
    /* border: 2px solid black; */
    top: -22px;
    left: -5px;
  }
  .switch_btn_on {
    left: 30px;
  }
  
  /* 왼쪽 태그 박스 */
  .recruit_tag_box{
    margin-top: 50px; 
  }
  #tag_title{
    font-size: 25px; font-weight: bold;
  }
  .selectd_tag {
    margin-top: 5px;  
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 3px;
  }
  .sel_hashTag{  
    background : var(--color_mint);
    border-radius: var(--border_radius_2); 
    text-decoration: none; 
    text-align: center;
    color: var(--color_black);  
    font-weight: bold;  
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 4px;
  }
  .delete_tag{
   all: unset;
   margin-left: 2px;
  }

  
  /* 왼쪽 회색 줄  */
  .line{
    width: 170px ; 
    height: 2px; 
    background-color: var(--color_light-grey); 
    margin-top: 30px;
  }
  /* 왼쪽 지역 */
  .sel_region{
    display: flex; 
    flex-flow: column;
  } 
  .region_title{
    font-size: 25px;  font-weight: bold;
    margin-top: 20px; margin-bottom: 15px;
  }
  .sel_region a{
    text-decoration: none; 
    color: var(--color_grey); 
    font-size: var(--font_size_cont_l);
  }
  .sel_region .selected{ 
    font-weight: 
    bold; color: var(--color_black);  
  }
  /*스터디 생성하기*/
  .make_rc_box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 5px;
    padding: 5px;
    background-color: forestgreen;
  }
  .make_project{
    width: 120px; 
    line-height: 30px ;
    padding: 3px;
    margin-top: 10px;
    border-radius: var(--border_radius_3);
    background-color: var(--color_mint);
    border: none;
    font-size: small;
    font-weight: bold;
  }


  /* 모집 부분 - study-card-container */
  .study_card_container{
    width: 960px;  float: right;
  }
  .row_study_card{margin-bottom: 20px;}
  .study_card_box{
    width: 296px; 
    height: 329px; 
    border: 2px solid var(--color_black); 
    float: right; 
    box-shadow: 5px 5px 0px rgb(7, 7, 7);
    border-radius: var(--border_radius_4);
  }
  .study_card_box{
    margin-left: 15px;
  }
  .study_img_box {
    width: 296px; 
    height: 151px; 
    background-size: cover; 
    background-image: url('../img/recruit_thumb.png');
    border-top-right-radius: var(--border_radius_4);
    border-top-left-radius: var(--border_radius_4);
  }
  
  .study_card_container .study_info{
    width: 270px; 
    height: 152px;  
    padding: 13px;
    background-color: white;
    border-bottom-right-radius: var(--border_radius_4) ;
    border-bottom-left-radius :var(--border_radius_4) ;
  }
  .study_tag_info{
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 9px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .study_card_container .study_tag{
    border-radius: var(--border_radius_2); 
    text-decoration: none; 
    background-color: var(--color_blue);
    color: var(--color_black); 
    text-align :center;
    font-size: 13px;
    padding: 5px 10px;
  }
  .study_card_container .study_tag_info :nth-child(2n){
    background-color: var(--color_mint);
  }
  .study_card_container .study_recruit_content_box{
    height: 40px;
    margin-bottom: 10px;
    display: flex; align-items: center;
  }
  .study_card_container .study_recruit_content{
    font-size: 18px; 
    color: var(--color_black);

  }
  .study_card_container .study_content{
    display: flex; justify-content: space-between;
  
  }
  .study_card_container .study_content .study_recruiting{
    border: 2px solid var(--color_black);
    background-color: var(--color_yellow);
    text-align: center;
    border-radius: var(--border_radius_4);
    color: var(--color_black);
    font-size:14px; width: 100px; 
    height: 30px; line-height: 28px;
  }
  .study_card_container .study_content .like_img{
    width: 30px; height: 30px;
    background-image: url(../img/like_on_red\ copy.png);
    background-size: cover;

  }
  .make_recruit{
    float: right;
    width: 120px;
    line-height: 30px;
    border-radius: var(--border_radius_3);
    background-color: var(--color_yellow);
    padding: 3px;
    border: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px var(--color_grey);
  }

  /* 넘기기 버튼 */
  .study_card_container .page_box{
    margin-top: 60px; 
    display: flex; 
    justify-content: center;
  }
  .study_card_container .page_box>*{float: left; }
  .study_card_container .page_num+.page_num{margin-left: 20px;}
  .study_card_container .page_box .selected{
    color: var(--color_black); font-weight: 500;
  }
  .study_card_container .page_box span{
    line-height: 30px; font-size: 25px; color: rgb(62, 62, 62)
  }

  .study_card_container .page_box .btn_prev{
    display: inline-block; width: 30px; height: 30px; margin-right: 10px;
    background-position: -10px -10px; 
    background-image: url(../img/page_left.png);  background-size:50px 50px;
  }
  .study_card_container .page_box .btn_next{
    width: 30px; height: 30px; margin-left: 10px;
    background-position: -10px -10px; display: inline-block;
    background-image: url(../img/page_right.png); background-size:50px 50px;
  }


  /* Footer */
   footer{
        margin-top: 150px;
    }
    footer .container{
        width: 1200px; 
        margin: 0 auto; 
        padding: 50px;
    }
    .info_container{
    margin-top: 25px;
    }
    .info_container .direct_num_box{
        float: left;
        width: 300px;
        height: 180px;
    }
    .direct_num_box .list_tel{
        margin-top: 5px;
    }
    .direct_num_box .item_tel{
        margin-left: 10px;
    }
    .direct_num_box .link_tel{
        font-size: 18px;
        margin-top: 3px;
        display: inline-block;
    }
    .info_container .info_right_container{
        float: right;
    }
    .info_container .info_box_right{
        float: left;
        width: 140px;
        height: 180px;
        margin-right: 20px;
    }
    .info_container .info_box_right .info_title{
        margin-bottom: 5px;
    }
    .info_container .info_box_right li{
        padding-top: 5px;
    }
    footer .corp_container{
        margin-top: 10px;
    }
    footer .corp_container .link_corp{
        padding-left: 7px;
        font-size: 13px;
    }
    footer .corp_container .link_corp::before{
        width: 1px;
        height: 11px;
        content: '';
        display: inline-block;
        margin-right: 10px;
        background-color: grey;
    }
    footer .corp_container .link_corp:nth-child(1){
        padding: 0;
    }
    footer .corp_container .link_corp:nth-child(1)::before{
        display: none;
    }

/* background */

.background_bbls{
  position: absolute;
  height: 100%;
  top: 535px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}
.background_bbls .bubble{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: var(--border_radius_1);
  background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
  top: 927px;
  left: -385px;
  background-color: var(--color_blue);
  width: 1600px;
  height: 1600px;
}
.big_bbls .bubble:nth-child(2){
  top: 673px;
  left: 988px;
  background-color: var(--color_mint);
  width: 1080px;
  height: 1080px;
  z-index: -20;
}
.big_bbls .bubble:nth-child(3){
  top: 1075px;
  left: 863px;
  background-color: var(--color_yellow);
  width: 1290px;
  height: 1290px;
}
.big_bbls .bubble:nth-child(4){
  top: 966px;
  left: 804px;
  background-color: var(--color_black);
  width: 300px;
  height: 300px;
  z-index: -30;
  opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
  top: 124px;
  left: -114px;
  background-color: var(--color_mint);
  width: 400px;
  height: 400px;
}
.small_bbls .bubble:nth-child(2){
  top: 77px;
  left: 1616px;
  background-color: var(--color_yellow);
  width: 250px;
  height: 250px;
}